<div class="block rounded-full mx-auto">
  {{svg-jar userIconName class='h-10 w-10'}}
</div>
<div class="flex-grow ml-3">
  <div class="text-sm">
    {{user.name}}
  </div>
</div>
<div class="flex-initial">
  <button
    class="inline-flex items-center justify-center p-1 border rounded-full {{if hiddenFromMap 'text-grey' 'text-blue'}}"
    {{action 'toggleVisibility' bubbles=false}}
  >
    {{svg-jar 'ui-07' class='h-4 w-4 !path-fill-current'}}
    <EmberTooltip>
      <span class="text-xs">
        Toggle visibility
      </span>
    </EmberTooltip>
  </button>
</div>